.search-bar {
    margin-top: 20px;
}

.footer-text {
    text-align: center;
}

.video-list {
    margin-left: 20px;
    margin-right: 20px;
}

.video-detail {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 2rem;
}